<a href="https://colab.research.google.com/github/shimhang/shimhang/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("3개의 정수값을 입력하시오")
n1 = int(input("n1의 정수값을 입력: ")) # n1값을 int로 입력받는다.
n2 = int(input("n1의 정수값을 입력: ")) # n2값을 int로 입력받는다. 
n3 = int(input("n1의 정수값을 입력: ")) # n3값을 int로 입력받는다.
total = n1 + n2 + n3;
average = total /3 ;
print(average)

3개의 정수값을 입력하시오
n1의 정수값을 입력: 20
n1의 정수값을 입력: 30
n1의 정수값을 입력: 50
33.333333333333336

In [ ]:
import math              # 1. math라는 수학 모듈을 가져온다.
#from math import sqrt  # 2. math라는 수학모듈에서 근의 공식을 구하는 수학 함수 sqrt만을 가져온다. print("'a, b, c' 3개의 값을 입력하시오")
a = int(input("Enter the a: ")) # a값을 int로 입력받는다.
b = int(input("Enter the b: ")) # b값을 int로 입력받는다.
c = int(input("Enter the c: ")) # c값을 int로 입력받는다. 
d = math.sqrt(b*b) - (4*a*c); # 1. math 모듈을 가져올때는 이렇게 사용
#d = sqrt(b*b) - (4*a*c); # 2. sqrt 함수만을 가져올때는 이렇게 사용
x1 = (-b+d) / (2 * a);
x2 = (-b-d) / (2 * a);
print(x1, x2)

Enter the a: 10
Enter the b: 20
Enter the c: 30
-60.0 58.0

In [ ]:
import math
# 근의공식 구하기
a = int(input("a의 값을 입력하세요: "))
b = int(input("b의 값을 입력하세요: "))
c = int(input("c의 값을 입력하세요: "))
x1 = ((-b + (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)
x2 = (3(-b - (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)
print("x1 = " , x1)
print("x2 = " , x2)

a의 값을 입력하세요: 1
b의 값을 입력하세요: 2
c의 값을 입력하세요: 3

ValueError: ignored

In [ ]:
total = 0 # 0부터 시작(0으로 초기화)
counter = 1 #
while counter <= 10:
 grade=int(input ("Enter grade: "))
 total = grade + total 
 counter = counter + 1
average = total / 10
print(average)

Enter grade: 19
Enter grade: 30
Enter grade: 60
Enter grade: 70
Enter grade: 90
Enter grade: 100
Enter grade: 101
Enter grade: 102
Enter grade: 103
Enter grade: 4205
488.0

In [ ]:
total = 0
counter = 1
while counter <= 10:
 grad = int(input ("Enter grade: "))
 total = grade + total 
 counter = counter + 1
average = total / 10
print(average)

Enter grade: 10
Enter grade: 20
Enter grade: 40
Enter grade: 90
Enter grade: 49
Enter grade: 12
Enter grade: 233
Enter grade: 24
Enter grade: 24
Enter grade: 25
4205.0

In [ ]:
print("3개의 값을 입력하시오")
x = int(input("Enter the x: "))
y = int(input("Enter the y: "))
z = int(input("Enter the z: "))
x = x + 1
y = y + 1
z = z + 1
print("변경된 값 : ", x, y, z)

3개의 값을 입력하시오
Enter the x: 10
Enter the y: 20
Enter the z: 30
변경된 값 :  11 21 31

In [ ]:
a = 10
b = 8750
c = a * b
print(c)
pay_rate = 8750
hours_worked = int(input("일을 한 전체 시간입력하세요!: " ))
monthly_pay = hours_worked * pay_rate
print(monthly_pay)

87500
일을 한 전체 시간입력하세요!: 90
787500

In [ ]:
won = 100000
usd = won * 1130
print(usd)

113000000

In [ ]:
exchange_rate = int(input("현재 환율입력: "))
won = 100000
usd = won * exchange_rate
print(usd)

현재 환율입력: 1030
103000000

In [ ]:
fahrenheit = 100
celsius = fahrenheit-32
celsius = celsius * 5
celsius = celsius/9
print(celsius)

37.77777777777778

In [ ]:
x = 0
y = 0
x = int(input("정수 x를 입력하시오: "))
y = int(input("정수 y를 입력하시오: "))
sum = x + y
print(sum)

정수 x를 입력하시오: 3
정수 y를 입력하시오: 4
7

In [ ]:
price = int(input("상품의 가격을 입력하시오: "))
vat = price * 0.1
print(vat)

상품의 가격을 입력하시오: 4000
400.0

In [ ]:
age = int(input("현재 나이를 입력하시오.: "))
age = age + 10
print("10년후면", age, " 세가 되시는 군요")

현재 나이를 입력하시오.: 21
10년후면 31  세가 되시는 군요

In [ ]:
print("########################")
print("# 배송료 계산 프로그램 #")
print("########################")
price= int(input("상품의 가격을 입력하세요: "))
if price > 2000:
 shipping_cost = 0
else:
 shipping_cost = 3000
print(shipping_cost)

########################
# 배송료 계산 프로그램 #
########################
상품의 가격을 입력하세요: 4000
0

In [ ]:
print("########################")
print("# 합격 불합격 프로그램 #")
print("########################")
grade = int(input("성적을 입력하시오.: "))
if grade >= 60 :
 print("합격")
else :
 print("불합격")

########################
# 합격 불합격 프로그램 #
########################
성적을 입력하시오.: 50
불합격

In [ ]:
print("근무 시간을 입력하시오")
work_hour=int(input("근무시간 입력: "))
if work_hour > 72 :
 print("초과근무 하셨습니다.")
else:
 print("정상근무하셨습니다.")

근무 시간을 입력하시오
근무시간 입력: 90
초과근무 하셨습니다.

In [ ]:
print("########################")
print("# 짝수와 홀수 판별 앱 #")
print("########################")
x = int(input("x값 정수를 입력하시오: "))
if (x % 2) != 0 :
 print("홀수입니다.")
else:
 print("짝수입니다.")

########################
# 짝수와 홀수 판별 앱 #
########################
x값 정수를 입력하시오: 1
홀수입니다.

In [ ]:
print("정수를 입력하시오.")
x= int(input("정수값 x를 입력하시오.: "))
y= int(input("정수값 y를 입력하시오.: "))
if x > y :
 print(x)
else:
 print(y)

정수를 입력하시오.
정수값 x를 입력하시오.: 3
정수값 y를 입력하시오.: 4
4

In [ ]:
print("########################")
print("# 이름, 나이, 답변 앱 #")
print("########################")
yu_name = str(input("이름: "))
yu_age = int(input("나이: "))
if yu_age <= 25 :
 print("와우!!! 프로그래밍을 완벽하게 배울수 있는 나이입니다.!")
else:
 print("포기하기에는 아직 늦지 않았습니다.")
print("\n")

########################
# 이름, 나이, 답변 앱 #
########################
이름: 심형진
나이: 21
와우!!! 프로그래밍을 완벽하게 배울수 있는 나이입니다.!

In [ ]:
price = int(input("상품의 가격을 입력하세요.: "))
if price > 100000:
 shipping_cost = 0
else:
 if price > 2000:
   shipping_cost = 3000
 else:
    shipping_cost = 5000
 print("배송료는", shipping_cost, "입니다.")

상품의 가격을 입력하세요.: 3000
배송료는 3000 입니다.